<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Trabajos en progreso</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    {% with mensajes = get_flashed_messages(with_categories=true) %}
      {% if mensajes %}
        <div>
          {% for categoria, mensaje in mensajes %}
            <div class="mensaje-{{ categoria }}">
              {{ mensaje }}
            </div>
          {% endfor %}
        </div>
      {% endif %}
    {% endwith %}
<div class="barra-superior">
    <form action="{{ url_for('logout') }}" method="get">
        <button type="submit">Cerrar sesión</button>
    </form>
</div>
<h1>Trabajos en progreso</h1>
<table border="1" cellpadding="5" cellspacing="0">
    <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Cantidad</th>
        <th>Servicio</th>
        <th>Progreso</th>
        <th>Observaciones</th>
    </tr>
    {% for usuario in usuarios %}
    <tr>
        <td>{{ usuario[0] }}</td>
        <td>{{ usuario[1] }}</td>
        <td>{{ usuario[2] }}</td>
        <td>{{ usuario[3] }}</td>
        <td>
            <a href="{{ url_for('progreso', usuario_id=usuario[0]) }}" style="text-decoration: none;">
                <div class="progress-bar" style="cursor:pointer;">
                    <div class="progress-bar-fill" style="width: {{ usuario[4] }}%;">
                        {{ usuario[4] }}%
                    </div>
                </div>
            </a>
        </td>
        <td>
            <form action="{{ url_for('editar_observaciones_usuario', id=usuario[0]) }}" method="post">
                <textarea name="observaciones" rows="2" cols="25">{{ usuario[6] }}</textarea>
                <button type="submit">Guardar</button>
            </form>
        </td>
    </tr>
    {% endfor %}
</table>
<br>
<button onclick="window.location.href='/'">Volver al formulario</button>
<button onclick="window.location.href='/registros'">Ver trabajos archivados</button>
</body>
</html>
